body {
    margin: 0;
    font-family: "Roboto";san-serif;
    background: #E4E4E4
}
#map {
    width: 100%;
    height: 800px;
    display: inline;
    float: left;
}

#menu-top{
    width: 100%;
    height: 10em;
    background-color: #F5A623;
    display: inline;
    float: left;
   
}

button:active, button:hover { 
    background-color: #F5A623;
    border-color: #F5A623;
}

.marker-menu{
   
    background-color: #F5A623;
    height: 2em;
    

}

.create-menu{
   
    background-color: #F5A623;
    height: 2em;
    display: none;

}

.archive-menu{
   
    background-color: #F5A623;
    height: 2em;
    display: none;

}
.settings-menu{
   
    background-color: #F5A623;
    height: 2em;
    display: none;

}
.upload-menu{
   
    background-color: #F5A623;
    height: 2em;
    display: none;

}




.draggable-marker {
    width: 20px;
    margin: 12px;
    cursor: pointer;
    z-index: 2;
}


leaflet-popup-content { 
    width:400px; 
}