<!DOCTYPE HTML>
<html ng-app = "myApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAB1KpPTYkE_whSe3MkIcL2u_d_oDfzVRk"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <title>StoryLiner &ndash; Admin  </title>
   <script src="/bower_components/angular-filepicker/dist/angular_filepicker.js"></script>
    <script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="css/layouts/marketing-old-ie.css">
        <![endif]-->
        <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="css/admin.css">
        <!--<![endif]-->
    <script type="text/javascript" src="/app.js"></script>


</head>
<body ng-controller = "adminController">
    <div  id="login" class = 'pure-g'>
        <div class = "pure-u-1 pure-u-md-2-24"></div>
        <div class = "pure-u-1 pure-u-md-10-24">
        <form class="pure-form">
            <fieldset>
                <legend id= "legend">Restriced Access, please enter password to continue</legend>

                <input ng-model= 'password' type="password" placeholder="Password">

                <button  id ="submit" ng-click='submitPassword()' class="pure-button pure-button-primary">Sign in</button>
            </fieldset>
        </form>
        </div>
    </div>

    
    <script src= "lib/admin.js"></script>
    <script src="/gservice.js"></script>

    
    
</body>

</html>