<!DOCTYPE html>
<html >
    <head>
    </head>
    <body ng-app = "myApp" >
    <div class= "archive-menu" id= "archive-menu" ng-controller = 'archiveController'>
        <button class="pure-button" ng-click = 'refresh()' id="archive-refresh-btn">
                        <i class="material-icons">refresh</i>
        </button>
            <div class = "pure-menu-horizontal pure-menu-scrollable">
                    <ul class="pure-menu-list" id= "archive-menu-list" ng-repeat= 'archive in myarchive' >
                        <li class="pure-menu-item"> <a href="#" class="pure-menu-link">
                         
                            <p id="archive-title">{{archive.title}}</p>
                            
                            <iframe ng-if="archive.link.includes('spotify') || archive.link.includes('youtube')" ng-src="{{trustSrc(archive.link)}}" width="300" height="380" frameborder="0" allowtransparency="true"></iframe>
                            
                            <img  ng-if="!archive.link.includes('spotify') && !archive.link.includes('youtube')" ng-src = "{{archive.link}}" width="300" height="380">
                        </a>
                        <button ng-click= "removeItem(archive._id)" id= "delete-archive-btn" class = "pure-button">
                                <i class="material-icons">close</i>
                            </button>
                        
                        
                        </li>
                        
                           
                    </ul>
            </div>
    </div>    
    </body>
</html>