<!DOCTYPE html>
<html ng-app = "myApp">
    <head></head>
    <body>
    <div class= "create-menu" id= "create-menu" ng-controller = "markerController">
       <h3>Create a New Marker</h3>
     
        <form class="pure-form pure-form-aligned">
    <fieldset>
            <div class="pure-control-group">
                <label for="title">Title</label>
                <input id="title" type="text"  ng-model ="marker.title" placeholder="Title"  required>
            </div>

            <div class="pure-control-group">
                <label for="description">Description</label>
                <textarea id ="description"  ng-model ="marker.description" placeholder="Tell us a story..." ></textarea>
            </div>
            <div class="pure-control-group">
                <label for="latitude">Latitude</label>
                <input id="latitude" type="text"  ng-model ="marker.latitude" placeholder="Latitude">
            </div>    


            <div class="pure-control-group">
                <label for="longitude">Longitude</label>
                <input id="longitude" type="text"    ng-model ="marker.longitude" placeholder="Longitude">
            </div>
            
                <div id="media-scrollable">
                    <div class="pure-menu pure-menu-scrollable custom-restricted">
                        <a href="#" class="pure-menu-link pure-menu-heading">Select Media</a>
                        <ul class="pure-menu-list" ng-repeat= "archive in archives">
                            <li class="pure-menu-item">
                                <a href="#" class="pure-menu-link"> 
                                <p>{{archive.title}}</p>
                                     <iframe  ng-if="archive.url.includes('spotify') || archive.url.includes('youtube')" ng-src="{{trustSrc(archive.url)}}" width="200" height="200"   frameborder="0" allowtransparency="true"></iframe>
                            
                            <img  ng-if="!archive.url.includes('spotify') && !archive.url.includes('youtube')" ng-src = "{{archive.url}}" width="200" height="200" >
                                <label  class="pure-checkbox">
                                    <input  ng-click= "addMedia($event, archive.url)" type="checkbox"> 
                                </label>
                                </a>
                                
                            </li>
                            
                        </ul>
                            
                    </div>
                </div>
              
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary" ng-checked= "check" ng-click = "saveMarker()">Save</button>
            </div>
            
            
     
    </fieldset>
</form>
    </div>    
    </body>
</html>