<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="pure-menu pure-menu-horizontal" id="header">
        <a href="/" class="pure-menu-heading pure-menu-link">STORYLINER</a>
        <ul class = "pure-menu-list">
             <li  class="pure-menu-item">
                <button  id = "upload-button" class = "button-large pure-button">
                    <i class="fa fa-upload"></i> Upload
                </button>
                
            </li>
            <li  class="pure-menu-item">
                <button  id = "archive-button" class = "button-large pure-button">
                    <i class="fa fa-folder" ></i> Archive
                </button>
                
            </li>
            <li class="pure-menu-item">
                <button id = "create-button" class = "pure-button">
                    <i class="fa fa-map-marker"></i> Create
                </button>
            </li>
           
            <li  class="pure-menu-item">
                <button  id = "markers-button" class = "button-large pure-button">
                    <i class="fa fa-map"></i> Map
                </button>
                
            </li>
           
            <li id = "settings-button" class="pure-menu-item">
                <button  id = "settings-button" class = "button-large pure-button">
                   <i class="fa fa-eye" ></i> View
                </button>
            </li>
        
        </ul>    
    </div> 
</body>

</html>