<!DOCTYPE html>
<html>

<body>
<div class="pure-menu pure-menu-horizontal" id="header">
        <a href="/" class="pure-menu-heading pure-menu-link">STORYLINER</a>
        <ul class = "pure-menu-list">
            <li class="pure-menu-item">
                <button id = "create-button" class = "pure-button">
                    <i class="material-icons md-48">pin_drop</i>
                </button>
            </li>
            <li  class="pure-menu-item">
                <button  id = "archive-button" class = "button-large pure-button">
                    <i class="material-icons md-48">folder</i>
                </button>
                
            </li>
            <li  class="pure-menu-item">
                <button  id = "markers-button" class = "button-large pure-button">
                    <i class="material-icons md-48">map</i>
                </button>
                
            </li>
            <li  class="pure-menu-item">
                <button  id = "upload-button" class = "button-large pure-button">
                    <i class="material-icons md-48">file_upload</i>
                </button>
                
            </li>
            <li id = "settings-button" class="pure-menu-item">
                <button  id = "settings-button" class = "button-large pure-button">
                    <i class="material-icons md-48">settings</i>
                </button>
            </li>
        
        </ul>    
    </div> 
</body>

</html>