<!DOCTYPE html>
<html ng-app = "myApp">
    <head>
        
    </head>
    <body ng-controller = "filestackCtrl">
        <div class= "marker-menu"  id= "marker-menu">
            <div class = "pure-menu-horizontal pure-menu-scrollable">
                       <h3>Markers</h3>
                    
                        <ul class="pure-menu-list" id= "marker-menu-list" ng-repeat= 'file in files' >
                        <li class="pure-menu-item" id= "marker-item"> <a href="#" class="pure-menu-link">
                             <img ng-src='{{file.url}}' class="marker-thumbnail"> 
                        </a></li>
        
                      </ul>
            </div>
          <button onclick = toggleMarkersMenu() class ="pure-button" id="close-marker-btn">Close</button> 
            
    </div> 
       
    </body>
</html>