<!DOCTYPE html>
<html>
    <head></head>
    <body>
    <div class= "settings-menu" id= "settings-menu">
            <form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="URL">Shareable URL</label>
            <input id="URL" type="text" placeholder="/<your unique URL>">
        </div>

       
        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Save Map</button>
        </div>
    </fieldset>
</form>
    </div>    
    </body>
</html>